.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 15rem;
}